[user]
  name = Rudolph-Miller
  email = chopsticks.tk.ppfm@gmail.com
[filter "media"]
  clean = git-media-clean %f
  sudge = git-media-smudge %f
[core]
  editor = /usr/bin/vim
  user = Rudolph-Miller
  token = !security find-internet-password -a Rudolph-Miller -s github.com -l 'ghi taken' -w
	excludesfile = ~/.gitignore_global
[pull]
  rebase = preserve
[credential]
	helper = osxkeychain
[push]
	default = current
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	templatedir = ~/.git_template
[rebase]
	autosquash = true
[alias]
	pushf = push --force-with-lease
  current-branch = rev-parse --abbrev-ref HEAD
  current-pull=!"git pull --rebase origin `git current-branch`"
  fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
  pull-dry-run  = !"git fetch origin; B=$(git rev-parse --abbrev-ref HEAD); git diff --stat --summary ${B}..origin/${B}"
