[user]
  name = Rudolph-Miller
  email = chopsticks.tk.ppfm@gmail.com
[filter "media"]
  clean = git-media-clean %f
  sudge = git-media-smudge %f
[core]
  editor = /usr/bin/vim
  user = Rudolph-Miller
  token = !security find-internet-password -a Rudolph-Miller -s github.com -l 'ghi taken' -w
	excludesfile = ~/.gitignore_global
[pull]
  rebase = preserve
[credential]
	helper = osxkeychain
[push]
	default = current
[url "git@github.com:"]
	insteadOf = https://github.com/
